.a-video__button {
    width: 3.5rem;
    height: 3.9rem;

}

.a-video__button .-b892a3e3-3a2f-4f97-a01f-8e36582873c1 {
    fill: #ffffff;

}

.-videoCaption {
    text-transform: uppercase;
    color: white;
    margin-top: 3%;
    border: none;
    padding:0;
    width: auto;
    height: auto;
}

.-videoButton .a-video__button:hover{
    border-color: #00e0d0;
    background: #13102d;
    filter: drop-shadow(5px 5px 100px #00e0d0) drop-shadow(-5px -5px 25px #4aa3cc);
    cursor: pointer;
}

.-videoCaption:hover{
    outline: none;
    cursor: pointer;
    color: #00e0d0;
}

.a-video__play:hover .-b892a3e3-3a2f-4f97-a01f-8e36582873c1 {
    fill: #00e0d0;
}

.-videoButton:hover ~ .-videoCaption {
    color: #00e0d0;
}